body {
	background-color: black;
	color: white;
	text-align: center;
}

.panel-int-to-roman {
	background-color: #111;
	padding: 2em;
	margin: 1em;
}

div {
	margin: 1em auto;
}

input {
	width: 10em;
}

span#result-roman {
	padding: .2em;
}

h4 {
	margin: 1em;
}