body {
	background-color: black;
	color: white;
	text-align: center;
}

.panel-int-to-roman {
	background-color: #111;
	padding: 2em;
	margin: 1em;
}

input, button {
	width: 10em;
}

#result-int {
	padding: .2em;
	background-color: red;
}

h4 {
	margin: 1em;
}